@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;800;900&display=swap");

body {
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-image: url("https://itsshowtimenj.files.wordpress.com/2013/10/abstractdesktop-astounding-wood-background-wallpaper-backgrounds.jpg"); }

h1, h2 {
  color: white;
}

h1 {
  font-weight: 600;
  margin-top: 3rem;
}

p {
  color: white; 
  font-size: 14px; 
}

div {
  min-width: 150px;
}

input {
  margin: 0.25rem;
}

.homepage-form {
  margin: 2rem;
}

.btn-outline-success {
  color: white;
  border-color: white;
}

.btn-primary {
  color: white;
  background-color: #6FA271;
  border-color: #6FA271;
}

.active, .btn-primary:hover{
  color: white;
  background-color: #577F59;
  border-color: #577F59;
}

.error-message{
  background-color: rgba(255,255,255,50%);
  color: red;
  padding: 10px;
}

.hidden {
  display: none; }

.show {
  visibility: visible; }
