@import '/meyer-reset.css';
@import '/app.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;800;900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 100vh;
    background-repeat: no-repeat;
    background-image: url('https://itsshowtimenj.files.wordpress.com/2013/10/abstractdesktop-astounding-wood-background-wallpaper-backgrounds.jpg')
}

h1 {
  color: rgba(255,255,255,50%); 
  font-size: 48px;
  font-weight: 600;
  margin: 1rem;
}

h2 {
    font-size:32px;
    color: white
}
p {
    font-size: 14px;
}

.label-note {
    font-size: 10px;
    margin-left: 0.5rem;
    color: white
}

#login-section {
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center
}

#new-user-section {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}


#create-user {
    display: flex;
    flex-direction: column;
}

input {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 5px;
}
.error-message{
    background-color: rgba(255,255,255,50%);
    color: red;
    padding: 10px;
}

.hidden {
    visibility: hidden;
}

.show {
    visibility: visible;
}